//resource section
$accent-color2: #162343;


.body{
	margin: -100px 0% 30px 5%;
}

.resources-section{
	.hero{
		background-image: url(../img/bg4.jpg);
	}

	.resources-bod{
		flex-wrap: wrap;
		justify-content: space-between;

		div{
			margin-bottom: 20px;
		}

		aside{
			flex: 1;
			margin-bottom: 20px;

			.underlined{
				text-decoration: underline;
				line-height: 20px;
				padding-top: 20px;
			}
		}
	}

	figure{
		img{
			width: 100%;
			margin: 5px 2%;
		}
	}
}

@media screen and (min-width: 768px){
	.body div, .body aside {
		flex: none;
	}

	.resources-bod{
		aside{
			margin-right: 3%;
		}	
	}

}