//resource section
$primary-color: #94d6ba;
$secondary-color: #7f4882;
$accent-color: #00999e;
$accent-color2: #162343;


.body{
	margin: -100px 0% 10px 5%;
}

.resources-section{
	.hero{
		background-image: url(../img/bg4.jpg);
	}

	.resources-bod{
		flex-wrap: wrap;
		justify-content: space-between;

		div{
			margin-bottom: 20px;
			flex: auto;
			transition: .5s;
		}

		aside{
			flex: 1;
			margin-bottom: 20px;
			transition: .5s;
			display: flex;
			flex-direction: column;

			.underlined{
				color: $accent-color2;
				line-height: 20px;
				padding-top: 20px;

				&:hover{
					color: $secondary-color;
				}
			}
		}
	}

	figure{
		img{
			width: 100%;
			margin: 5px 0%;
		}
	}
}

@media screen and (min-width: 768px){
	.resources-section{
		.resources-bod{
			div {
				flex-basis: 63.5%;
				transition: .5s;
			}
		}

		.resources-bod{
			aside{
				margin-right: 3%;
				flex-basis: 30%;
				transition: .5s;
			}	
		}
	}	
}

@media screen and (min-width: 1024px){

}