/*Header*/

/*html{
	background-color: #424242;
}

.wrapper{
	font-family: 'Arvo', serif;
	border-right: 1px #c7c9c6 solid;
	border-left: 1px #c7c9c6 solid;
	background-color: #c7c9c6;
	float: left;
}

.page{
	margin: 0 auto;
	width: 960px;
}

header{
	background: rgb(135,133,133); 
	background: -moz-linear-gradient(top, rgba(135,133,133,1) 0%, rgba(36,35,35,1) 53%, rgba(5,5,4,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(135,133,133,1) 0%,rgba(36,35,35,1) 53%,rgba(5,5,4,1) 100%); 
	background: linear-gradient(to bottom, rgba(135,133,133,1) 0%,rgba(36,35,35,1) 53%,rgba(5,5,4,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878585', endColorstr='#050504',GradientType=0 ); 
	height: 70px;
	color: #fff; 
	width: 100%;
}

h1{
	text-transform: uppercase;
	padding-top: 20px;
	width: 30%;
	float: left;
	font-weight: bold;
	font-size: 32px;
}

header span{
	color: #c40000;
}

nav ul{
	float: right;
	margin-top: 25px
}

nav li{
	display: inline;
	margin: -1px;
}

nav a{
	text-transform: uppercase;
	text-decoration: none;
	padding: 28px 23px;
	background: rgb(135,133,133); 
	background: -moz-linear-gradient(top, rgba(135,133,133,1) 0%, rgba(36,35,35,1) 53%, rgba(5,5,4,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(135,133,133,1) 0%,rgba(36,35,35,1) 53%,rgba(5,5,4,1) 100%); 
	background: linear-gradient(to bottom, rgba(135,133,133,1) 0%,rgba(36,35,35,1) 53%,rgba(5,5,4,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878585', endColorstr='#050504',GradientType=0 ); 
	color: white;
	font-size: 15px;
	box-shadow: -2px 0 0 0 #595959;	
}*/

/*Home*/

/*.home-section{
	background-image: url(../img/homebg.jpg);
	background-repeat: no-repeat; 
	height: 485px;
}

.home-section .hero{
	padding: 30px 0 0 0;
	float: left;
	background-color: #050402;
	opacity: .94;
	margin: 60px 0; 
	width: 630px;
	height: 170px;
}

h2{
	font-size: 50px;
	color: #fffffd;
}	

.home-section .hero p{
	font-size: 110px;
	color: #e50200;
	position: relative;
	top: -30px;
	float: right;
}	*/

.about{
	background-color: white;
	float: left;
	width: 480px;
	margin-top: 165px;
}

.about h3{
	background: rgb(135,133,133); 
	background: -moz-linear-gradient(top, rgba(135,133,133,1) 0%, rgba(36,35,35,1) 53%, rgba(5,5,4,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(135,133,133,1) 0%,rgba(36,35,35,1) 53%,rgba(5,5,4,1) 100%); 
	background: linear-gradient(to bottom, rgba(135,133,133,1) 0%,rgba(36,35,35,1) 53%,rgba(5,5,4,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878585', endColorstr='#050504',GradientType=0 ); 
	color: white;
	padding: 0;
}

.about h3 span{
	font-weight: bold;
	text-transform: uppercase;
}

.about li{
	float: left;
	border: 1px solid black;
	margin: 20px 22px 20px 0;
}

.student{
	float: right;
	width: 480px;
}

.info figure{
	background-color: white;
	padding: 20px;	
}

.info figcaption{
	text-align: left;
	float: right;
}

.home-section h3{
	font-size: 36px;
}

a{
	text-decoration: none;
	color: #ee000a;
}

/*About*/
.about-section.page{
	padding: 0 30px 0 30px;
}

.about-section{
	background-image: url(../img/aboutbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.about-section .hero{
	height: 280px;
}

.about-section h2{
	padding-top: 40px;
}

.about-bod div{
	background-color: white;
	width: 540px;
	margin: -90px 0 30px;
	padding-bottom: 55px;
	float: left;
}

.about-bod h3{
	font-size: 28px;
	padding: 30px;
	text-align: left;
}

.about-bod p{
	padding: 0px 30px;
	line-height: 22px
}

.about-bod div p{
	padding-bottom: 13px
}

.about-bod div a{
	margin: 0;
	text-decoration: underline;
}

.about-bod h4{
	font-size: 20px;
	padding: 30px;
	text-align: left;
}

.about-bod aside{
	width: 395px;
	background-color: #232323;
	color: white;
	float: right;
	margin-top: -90px;
	height: 655px;
}

.about-bod aside span{
	font-weight: bold;
	margin-right: 25px;
}

.border{
	border-bottom: 1px solid #8a8a8a;
	margin: 15px 30px;
}

.about-bod a{
	margin: 15px 30px ;
	padding-bottom: 40px !important;
}

/*Work*/
.work-section.page{
	padding: 0 30px 0 30px;
}

.work-section{
	background-image: url(../img/workbg.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

.work-section .hero{
	height: 280px;
}

.work-section h2.top{
	padding-top: 40px;
}

.work-bod div{
	background-color: white;
	width: 540px;
	margin: -90px 0 30px 0;
	padding-bottom: 55px;
	float: left;
}

.work-bod h3{
	font-size: 28px;
	padding: 30px;
	text-align: left;
}

.work-bod div p{
	padding: 0px 30px 30px 30px;
	font-size: 14px;
	line-height: 19px;
	float: left;
}

.work-bod h4{
	font-size: 20px;
	padding: 0 0 10px 0;
	text-align: left;
}

.work-bod h5{
	font-size: 18px;
	padding: 0 0 10px 30px;
	text-align: left;
}

.work-bod aside{
	width: 395px;
	background-color: #232323;
	color: white;
	float: right;
	margin-top: -90px;
}

.work-bod aside a{
	margin: 15px 30px;
	padding-bottom: 40px;
}

.work-bod figure img{
	 padding: 0 0 20px 30px;
	 float: left;
}

.work-bod figcaption{
	text-align: left;
	float: left;
	padding-left: 10px;
}

.work-bod figcaption p{
	font-size: 14px;
}

.work-bod section{
	padding: 0px 30px 50px 30px;
	font-size: 14px;
	line-height: 19px;
	float: left;
}

.work-bod section p{
	padding-bottom: 10px;
}	
/*Resources*/
.resources-section h2{
	padding-top: 20px;
}

.work-bod div{
	background-color: white;
	width: 540px;
	margin: -90px 0 30px 0;
	padding-bottom: 55px;
	float: left;
}
.resources-section{
	background-image: url(../img/resourcesbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

.resources-page .page{
	padding: 0 20px 0 20px;
}

.resources-section .hero{
	height: 280px;
}

.resources-bod h3{
	font-size: 29px;
	padding: 30px 30px 0 30px;
	text-align: left;
}

.resources-bod section{
	
	float:left;
}

.resources-bod figure{
	width: 636px;
	margin-top: -140px;
	background-color: white;
}

.resources-bod img{
	width: 575px;
	height: 235px;
	padding-left: 30px
}

.resources-bod figcaption p{
	padding: 20px 30px 49px 30px;
}

.resources-bod h4{
	font-size: 29px;
}

.resources-bod aside{
	width: 273px;
	background-color: #232323;
	color: white;
	float: left;
	height: 357px;
	padding: 20px 20px;
	margin-left: 10px;	
}

div .bot-sect{
	margin-right: -10px;
}

.first{
	margin-top: -140px;
}

aside.bottom{
	margin: 20px 10px -10px 0;
	z-index: 1; 
	position: relative;
}

.resources-bod p{
	font-size: 14px;
	line-height: 17px;
}

.resources-bod p.underlined{
	text-decoration: underline;	
	padding-top: 20px
}

/*Footer*/

footer{
	background-color: #000000;
	float: left;
	width: 100%;
}

footer div{
	padding-bottom: 30px;	
}

footer p{
	color: #ffffff;
	padding: 30px 0 10px 0;
}


